<ul class="mdc-list font16">
  <li tabindex="0">
    <span id="title2" class="mdc-list-item__text title16">Name: </span><span class="font16"><%=apiData.name%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">Link: </span><span class="font16"></span><a
      href="<%=apiData.url%>"></span><span class="font16"><%=apiData.url%></a></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">Owner: </span><span
      class="font16"><%=apiData.user.username%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">Views: </span><span class="font16"><%=apiData.views%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">Comments: </span><span
      class="font16"><%=apiData.comments%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">Followers: </span><span
      class="font16"><%=apiData.followers%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">skulls: </span><span class="font16"><%=apiData.skulls%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">logs: </span><span class="font16"><%=apiData.logs%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">components: </span><span
      class="font16"><%=apiData.components%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">created: </span><span
      class="font16"><%=apiData.created%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">updated: </span><span
      class="font16"><%=apiData.updated%></span>
  </li>
  <li>
    <span id="title2" class="mdc-list-item__text title16">created: </span><span
      class="font16"><%=apiData.created%></span>
  </li>
  <li>
    <span class="title16">tags: </span><span class="font16"><%=apiData.tags%></span>
  </li>
  <li>
    <span class="title16">summary: </span><span class="font16"><%=apiData.summary%></span>
  </li>
  <li>
    <span class="title16">description: </span><span class="font16"><%=apiData.description%></span>
  </li>
</ul>