
<div id = "<%=user.id%>" style="display: none;"style="background:#AAA; color:#000">  
    <table style="width:100%">
        <tr>
               <tr> <img src="<%=user.image_url%>" alt="Smiley face" height="200" width="100%"></tr>
               <tr style='padding-top:10px;padding-right:8px;padding-left:8px; border: 1px solid black;'>  
                  <td class='font16'>Name: <%=user.username%></td>
                  <td class='font16'>Rank: <%=user.rank%></td>
                </tr>
                <tr style='padding-top:10px;padding-right:8px;padding-left:8px; border: 1px solid black;'>  
                        <td class='font16'>Followers: <%=user.followers%></td>
                        <td class='font16'>Following: <%=user.following%></td>
                      </tr>
            </tr>
            </table>
      </div>
    
    
    <script>
    template = document.getElementById('<%=user.id%>')
    tippy('#myTooltip', {
    content: template.innerHTML,
    })
    </script>