<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <% include ../style/style.ejs%>
    <% include ../common/head.ejs %>

</head>

<body style="background:rgb(189, 188, 188); color:rgb(7, 7, 7)">
    <%- include('../common/top_bar.ejs',{project:apiData}); %>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner ">
            <%if(apiData.image_url){%>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                <img style="width : 100%" src="<%=apiData.image_url%>"></div>
            <%}else{%>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                <img style="width : 100%" src="https://cdn.hackaday.io/images/2754671430848813673.jpg"></div>
            <%}%>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                    <%- include('../common/detail_list.ejs',{apiData:apiData}); %>
        </div>
        <br />
        <br />
    </div>

    <%if(apiData.tagsp.projects){%>
    <p id="title3">Projects you may like:</p>
    <div class="mdc-layout-grid__inner ">
        <% for(var i=0;i < (apiData.tagsp.projects.length<=6?apiData.tagsp.projects.length:6);i++){%>

        <div
            class="mdc-layout-grid__cell mdc-card__media--16-9 mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
            <%- include('../common/recommand_projects_list.ejs',{project:apiData.tagsp.projects[i]}); %></div>

        <%}%>
                </div>
                <%}%>

        <%if(apiData.tagsu.users){%>
        <p id="title3">People you may want to follow:</p>
        <div class="mdc-layout-grid__inner ">
            <% if(apiData.tagsu.users){
                        for(var i=0;i < (apiData.tagsu.users.length<=6?apiData.tagsu.users.length:6);i++){%>

            <div
                class="mdc-layout-grid__cell mdc-card__media--16-9 mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                <%- include('../common/recommand_users_list.ejs',{user:apiData.tagsu.users[i]}); %></div>

            <%}}%>
        </div>
        <%}%>
    
    <div>
        <p class="text-center">
                <span><a href="javascript:history.go(-1)"><button class="mdc-button mdc-button--unelevated">BACK</button></a></span>
        </p>
    </div>
    <%- include('../common/get_New_page.ejs',{lastpage:apiData.last_page}); %>
</body>

</html>